<div class="flex justify-items-stretch mt-3 ">
    <div class="p-5 text-center border-r border-t border-b w-4/12">
        <h3 class="text-gray-900 font-semibold text-xl"><%= @tweets %></h2>
        <h5 class="text-gray-600">Tweets</h1>
    </div>
    <div class="p-5 text-center border-r border-t border-b w-4/12">
        <h3 class="text-gray-900 font-semibold text-xl"><%= @followers_count %></h2>
        <h5 class="text-gray-600">Followers</h1>
    </div>
    <div class="p-5 text-center border-r border-t border-b w-4/12">
        <h3 class="text-gray-900 font-semibold text-xl"><%= @following %></h2>
        <h5 class="text-gray-600">Following</h1>
    </div>
</div>