<div class="border-b border-gray-800 flex items-center text-gray-500">
    <div class="w-1/2 p-2 border-r border-gray-800 shadow ">
        <div class="text-center">
            <h5>184</h5>
            <h6 class="text-xs font-thin">Following</h6>
        </div>
    </div>
    <div class="w-1/2 p-2 shadow border-gray-800">
        <div class="text-center">
            <h5>184</h5>
            <h6 class="text-xs font-thin">Followers</h6>
        </div>
    </div>
</div>