<div class="w-10/12 mx-auto">
    <% @who = who_to_follow %>
    <% @who.each do |u| %>
    <ul class="who-to-follow">
        <li class="flex align-middle my-5 overflow-hidden">
            <div class="h-12 w-12 bg-gray-700 rounded-full object-contain">
                <%= avatar?(u) %>
            </div>
            <div class="ml-2">
                <div><%= link_to u.FullName, {:controller => "profiles", :action => "show", :id => u.id }, class: "hover:text-blue-700"%></div>
                <div class="text-xs font-thin text-gray-600">Followed by <%= u.FullName %></div>
            </div>
        </li>
    </ul>
    <% end %>
</div>