<ul class="list-none flex  border-b-2 ">
    <%= link_to(opinions_path, method: :get) do %>
    <li class="feed-nav-item">
        <span>TWEET </span>
    </li>
    <% end %>
    <li class="feed-nav-item"> PHOTOS</li>
    <li class="feed-nav-item"> VIDEOS</li>
</ul>