<ul class="list-none flex  border-b-2 ">
    <li class="feed-nav-item">
        <span>TWEET </span>
    </li>
    <li class="feed-nav-item"> PHOTOS</li>
    <li class="feed-nav-item"> VIDEOS</li>
</ul>