<div class="border-l ">
    <div class="pt-5 pl-5 pr-5 pb-4 text-gray-600 text-xs flex justify-around border-b">
        <span>WHO TO FOLLOW</span>
        <span><i class="fas fa-sync"></i></span>
    </div>
</div>


<div>
    <%= render "components/who-to-follow" %>
</div>

<div class="py-5 px-5 text-gray-600 text-xl font-thin border-b border-t">
    Trending
</div>

<ul>
    <li class="text-gray-500 py-5 px-5 text-xl font-thin">#company</li>
    <li class="text-gray-500 py-5 px-5 text-xl font-thin">#goals</li>
    <li class="text-gray-500 py-5 px-5 text-xl font-thin">#winning</li>
    <li class="text-gray-500 py-5 px-5 text-xl font-thin">#match</li>
</ul>

