<div class="border-l h-screen">
    <div class="pt-5 pl-5 pr-5 pb-4 text-gray-600 text-xs flex justify-around border-b">
        <span>WHO TO FOLLOW</span>
        <span><i class="fas fa-sync"></i></span>

        
    
    </div>
</div>