<ul>
    <li class="left-side-nav-item ">
        <i class="fas fa-home"></i>    Home
    </li>
    <li class="left-side-nav-item">
        <i class="fas fa-at"></i>   Connect
    </li>
    <li class="left-side-nav-item">
        <i class="fas fa-at"></i>   Discover
    </li>
    <li class="left-side-nav-item">
        <i class="fas fa-at"></i>   People
    </li>
    <li class="left-side-nav-item">
        <i class="fas fa-at"></i>   Statistcs
    </li>
</ul>